.listEmp {
  &__des {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 767px) {
    &__des {
      flex-direction: column-reverse;
      align-items: baseline;
      margin-top: 8px;
    }
  }
}
