.list {
  &__title {
    display: flex;
    justify-content: space-between;
  }
  &__box {
    border: 1px solid #dee2e6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    padding: 30px;
  }
  &__button {
    text-align: right;
    margin-bottom: 20px;
    a {
      color: #1d6894;
      border-bottom: 2px solid #1d6894;
      font-weight: 500;
      font-size: 17px;
      text-decoration: none;
      transition: all 0.2s linear;
      &:hover {
        color: #c99128;
        border-bottom: 2px solid #c99128;
      }
    }
  }
  td a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 767px) {
    &__box {
      padding: 15px;
    }
    &__button {
      display: none;
    }
  }
}
