.mainReport {
  &__box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    width: 47%;
  }
  @media (max-width: 767px) {
    &__item {
      width: 100%;
    }
  }
}
button {
  border: none;
  background: #1d6894;
  transition: all 0.2s linear;
  padding: 5px 13px;
  border-radius: 5px;
  color: #fff;
  &:hover {
    background-color: #c89128;
  }
}
