.reportActivity {
  &__des {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  &__btn {
    button {
      border-radius: 5px;
      padding: 6px 40px;
      transition: all 0.2s linear;
      width: 100%;
      &:hover {
        background-color: #1d6894;
        border-color: #2e6da4;
        color: #fff;
      }
    }
  }
  &__content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: 48%;
    margin-bottom: 20px;
    h4 {
      margin: 10px 0 0;
    }
  }
  @media (max-width: 767px) {
    &__item {
      width: 100%;
    }
    &__des {
      gap: 10px;
    }
  }
  @media (max-width: 320px) {
    &__btn {
      button {
        padding: 5px 25px;
      }
    }
  }
}
