.header {
  padding: 5px 20px;
  background: #1d6894;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 30px;
  margin: 15px 20px 0;
  text-align: right;
  gap: 30px;
  &__user {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    img {
      width: 25px;
      height: auto;
      margin: 0 5px;
    }
  }
  p {
    margin-bottom: 0;
    color: #fff;
  }
  &__icon {
    display: flex;
    align-items: center;
  }
  &__des {
    font-size: 19px;
    font-weight: 600;
    img {
      display: none;
    }
  }
  &__click {
    font-size: 19px;
    font-weight: 600;
    img {
      display: none;
    }
  }
  &__report {
    line-height: 0;
    img {
      width: 18px;
      height: auto;
      display: block;
    }
    sup {
      top: -1.2em;
      left: 0.5em;
      font-size: 100%;
      color: red;
      font-weight: 600;
    }
  }

  @media (max-width: 1200px) {
    padding: 5px 15px;
    margin: 0;
    gap: 15px;
    &__user p {
      display: none;
    }
    &__des {
      z-index: 6;
      position: absolute;
      img {
        display: block;
      }
    }
    &__click {
      display: none;
    }
  }
  @media (max-width: 767px) {
    margin: 0;
  }
}
